* {
  background-color: lightgray;
  text-align: center;
  font-family: Arial, sans-serif;
}

.code {
  font-family: monospace;
  color: white;
  background-color: black;
}

h2 {
  color: darkblue;
}

table {
  width: 90%;
  margin: 0 auto;
  border: 2px solid darkblue;
}

th {
  background-color: lightblue;
  color: black;
}

td {
  border-top: 1px solid darkblue;
  color: black;
}